//.event {
//
//  .event-card {
//    height: 300px;
//
//    .date {
//      min-width: 75px;
//      max-width: 75px;
//    }
//
//    .card-body {
//      overflow: scroll;
//    }
//  }
//}

.eventCard {
  height: 300px;
}

.cardBody {
  overflow: scroll;
}

.date {
  min-width: 75px;
  max-width: 75px;
}