@import "../styles/_colors";
@import "../styles/_mixins.scss";

.navbar {
  background: $black;
  padding: 16px 0 16px 0;
  border-top: 3px solid $gray;
  border-bottom: 3px solid $gray;
  position: relative;

  @include large-device() {
    background: transparent;
    border: none;
    color: $gray;
  }

}


.brandImage {
  left: 22px;
  top: -29px;

  img {
    max-height: 100px;
    border: none;

  }

  @include large-device() {
    position: relative;
  }
}

.navbarToggler {
  outline: none;
  &-icon {
    fill: #ffffff;
  }
}