@import "../styles/_colors";
@import "../styles/_mixins.scss";

.navbar {
  background: $black;
  border-top: 3px solid $gray;
  border-bottom: 3px solid $gray;

  @include medium-device() {
    background: transparent;
    border: none;
    color: $gray;
    position: relative;
  }

  &-nav {
    justify-content: end;
    justify-items: flex-end;
    align-items: flex-end;

    @include medium-device() {
      align-items: baseline;
    }
  }

  &-link {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: $secondary;
    margin-left: 8px;

    @include medium-device() {
      font-size: 2rem;
    }
  }

  .small-logo {
    left: 40%;
    position: absolute;
  }

}

.brand-image {
  left: 22px;
  top: -33px;

  img {
    max-height: 100px;
    border: none;
  }

  @include medium-device() {
    position: relative;
  }
}

.offcanvas {
  background: transparent;
  color: $secondary;
}

.offcanvas-body {
  justify-content: flex-end;
}

.offcanvas-header {
  text-align: end;
  justify-content: flex-end;
}

.btn-close  {
  background-color: white;
  opacity: .8;
  font-size: .8rem;
  margin: 8px;
}
