.foundersClub {

  .banner {
    height: 39vh;
    background: url("../assets/image/founders-club-banner.jpg") no-repeat;
    background-size: cover;
    background-position-y: 68%;

    .col {

      h2, h4 {
        max-width: 50%;
      }
    }
  }
}